<table>
	<caption>Forecast</caption>
	<thead>
		<tr>
			<th><%= sort_link @search, :customer_name, "Customer", {}, :class => "customer" %></th>
			<th><%= sort_link @search, :name, "Opportunity" %></th>
			<th><%= sort_link @search, :order_value %></th>
			<th><%= sort_link @search, :order_date, "Order Date" %></th>
			<th><%= sort_link @search, :confidence_name, "Confidence", {}, :class => 'confidence' %></th>
			<th><%= sort_link @search, :user_nickname, "Owner", {}, :class => 'user' %></th>
			<% if can? :update, Opportunity %> 
              <th> </th>
			<% end %>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		<% @opportunities.each do |opportunity| %>
		
		<tr>
			<td><%= link_to truncate(opportunity.customer.name, :length => 15, :separator => ' '), opportunity.customer %></td>
			<td><%= link_to truncate(opportunity.name, :length => 30, :separator => ' '), opportunity %></td>
			<td style="text-align:right"><%= opportunity.order_value.format %></td>
			<td style="text-align:center"><%= opportunity.updated_at.to_date %></td>
			<td><%= opportunity.confidence.name %></td>
			<td><%= opportunity.user.nickname %></td>
			<% if can? :update, Opportunity %> 
			  <td><%= link_to "edit", edit_opportunity_path(opportunity) %> - <%= link_to 'delete', opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<%= form_for @search, :url => forecast_path, :html => {:method => :get} do |f| %>

  <div class='row'><%= f.label :customer_name, "Customer" %><%= f.text_field :customer_name_like %></div>
  <div class='row'><%= f.label :name, "Opportunity" %><%= f.text_field :name_like %></div>
  
  <div class='row'>
	<%= f.label :confidence %>
	<div class='check'>
      <% f.collection_checks :confidence_id_in, @confidences, :id, :name, :class => 'check' do |check| %>
          <%= check.box %>
          <%= check.label %><br />
      <% end %>
    </div>
  </div>

  <div class='row'>
	<%= f.label :usesr, "Salesman" %>
	<div class='check'>
      <% f.collection_checks :user_id_in, @salesmen, :id, :nickname, :class => 'check' do |check| %>
          <%= check.box %>
          <%= check.label %><br />
      <% end %>
    </div>
  </div>

  <%= f.submit %>

<% end %>
