<p>
  <b>Fiscal Year: </b>
  <%= @account_target.fiscal_year %>
</p>

<p>
  <b>1st Quarter: </b>
  <%= @account_target.q1 %>
</p>

<p>
  <b>2nd Quarter: </b>
  <%= @account_target.q2 %>
</p>

<p>
  <b>3rd Quarter: </b>
  <%= @account_target.q3 %>
</p>

<p>
  <b>4th Quarter: </b>
  <%= @account_target.q4 %>
</p>
