<h2 class='form_heading'>Password</h2>
<%= form_for @user, :url => password_path, :html => {:method => "post"} do |f| %>
    <div class='row'><%= f.label :password, "New password" %><%= f.password_field :password, :class =>'initial-focus' %></div>
    <div class='row'><%= f.label :password_confirmation, 'Confirm' %><%= f.password_field :password_confirmation %></div>
	<div class='row'><%= f.submit "Change Password" %></div>
<% end %>