<form action="" method="post" id="frmCreateCheckboxRange" onsubmit="return false;" _lpchecked="1">
	<fieldset>
		<legend>Calculation Examples</legend>
		<div id="formContent">

			<p id="ex-sum">
				The Calculation plug-in can parse various DOM elements. From normal
				<code>div</code> and <code>span</code> tags to all form field elements.
			</p>

			<p>
				Numbers:
				<input type="text" name="sum" value="3" size="2">
				<input type="text" name="sum" value="2" size="2">
				<input type="text" name="sum" value="1" size="2">
				<input type="text" name="sum_alt" value="4" size="2">
				&nbsp;&nbsp;
				Sum:
				<input type="text" name="totalSum" id="totalSum" value="" size="2" readonly="readonly">
				(Change the values for dynamic calculations.)
			</p>

			<p id="ex-avg">
				Numbers:
				<input type="text" name="avg" value="25" size="2">
				<input type="text" name="avg" value="12" size="2">
				<input type="text" name="avg" value="6" size="2">
				<input type="text" name="avg_alt" value="33" size="2">
				&nbsp;&nbsp;
				Average:
				<input type="text" name="totalAvg" id="totalAvg" value="" size="2" readonly="readonly">
				(Change the values for dynamic calculations.)
			</p>
			
			<blockquote>
				<strong>NOTE:</strong>
				The above example uses the onParseError and onParseClear methods to change the background
				of any field in which it can not correctly parse the number from. To test this, try changing
				a field to all numeric values.
			</blockquote>

			<p id="ex-min">
				Numbers:
				<input type="text" name="min" value="67" size="2">
				<input type="text" name="min" value="-12" size="2">
				<input type="text" name="min" value="41" size="2">
				<input type="text" name="min_alt" value="69" size="2">
				&nbsp;&nbsp;
				Min:
				<input type="text" name="numberMin" id="numberMin" value="" size="2" readonly="readonly">
				(Change the values for dynamic calculations.)
			</p>

			<p id="ex-max">
				Numbers:
				<input type="text" name="max" value="67" size="2">
				<input type="text" name="max" value="-12" size="2">
				<input type="text" name="max" value="41" size="2">
				<input type="text" name="max_alt" value="69" size="2">
				&nbsp;&nbsp;
				Max:
				<input type="text" name="numberMax" id="numberMax" value="" size="2" readonly="readonly">
				(Change the values for dynamic calculations.)
			</p>

			<p id="ex-sum-span">
				Numbers:
				<span class="textSum">-$19.99</span>
				+
				<span class="textSum">-$7.99</span>
				+
				<span class="textSum">-$.99</span>
				+
				<span class="textSum">-$49.99</span>
				&nbsp;&nbsp;
				Sum:
				<span id="totalTextSum">????</span>
				<input type="button" value="Calc" id="idTotalTextSum">
			</p>

			<p id="ex-avg-span">
				Numbers:
				<span class="textAvg">3,294.75</span>
				+
				<span class="textAvg">85.97</span>
				+
				<span class="textAvg">2974.25</span>
				+
				<span class="textAvg">$6,502.03</span>
				&nbsp;&nbsp;
				Avg:
				<span id="totalTextAvg">????</span>
				<input type="button" value="Calc" id="idTotalTextAvg">
			</p>

			<hr>

			<p id="ex-calc">
				The example below shows how the calculation plug-in can be used
				to dynamically calculate values for you. All of the "Total" values
				(including the "Grand Total") are calculated automatically using
				the calc() method.
			</p>

			<table width="500">
				<colgroup><col style="width: 50px;">
				<col>
				<col style="width: 60px;">
				<col style="width: 110px;">
				</colgroup><tbody><tr>
					<th>
						Qty
					</th>
					<th align="left">
						Product
					</th>
					<th>
						Price
					</th>
					<th>
						Total
					</th>
				</tr>
				<tr>
					<td align="center">
						<input type="text" name="qty_item_1" id="qty_item_1" value="1" size="2">
					</td>
					<td>
						<a href="http://www.packtpub.com/jQuery/book">Learning jQuery</a>
					</td>
					<td align="center" id="price_item_1">
						$39.99
					</td>
					<td align="center" id="total_item_1">$39.99</td>
				</tr>
				<tr>
					<td align="center">
						<input type="text" name="qty_item_2" id="qty_item_2" value="1" size="2">
					</td>
					<td>
						<a href="http://jquery.com/">jQuery Donation</a>
					</td>
					<td align="center" id="price_item_2">
						$14.99
					</td>
					<td align="center" id="total_item_2">$14.99</td>
				</tr>
				<tr>
					<td colspan="3" align="right">
						<strong>Grand Total:</strong>
					</td>
					<td align="center" id="grandTotal">$54.98</td>
				</tr>
			</tbody></table>
		</div>
	</fieldset>
</form>



<div class="g640 inside">
<div id="chart" style="width:600px;height:300px;margin-right:auto;margin-left:auto;"></div> 
<script id="source" language="javascript" type="text/javascript"> 
  $(function () {
	var d = <%= bft_chart(@current_account).to_json %>;
	var data = [	  
	  { label: "Targets", data: d[0], lines: { show: true, steps: true, lineWidth: 0, fill: .3 }, color: "#333" },
	  { label: "Forecast", data: d[2], bars: { show: true, barWidth: 1000*60*60*24*22, lineWidth: .5, fill: 1 }, color: "#C20C0C" },
	  { label: "Bookings", data: d[1], bars: { show: true, barWidth: 1000*60*60*24*22, lineWidth: .5, fill: 1 }, color: "#333" }
	];
    $.plot($("#chart"), data, {
	  xaxis: { mode: "time", min: d[3], max: d[4], ticks: 5 },
	  legend: { show: false }
    });
  });
</script>
</div>
<div class="g320" style="margin-top:1em;">
	<h1>
		<span style="color:#333">Bookings</span><br>
		<span style="color:#c20c0c">Forecast</span><br>
		<span style="color:#B2B2B2">Targets</span>
	</h1>	

	<%= link_to 'Set Targets', polymorphic_path([@current_account, :targets]) %>
</div>
<div class="clear">&nbsp;</div>	

<table>
  <caption>Recent Wins</caption>
	<% @recent_wins.each do |opportunity| %>
	  <tr>
	    <td><%= opportunity.customer.name%> - <%= opportunity.name %></td>
	    <td><%= opportunity.order_value %></td>
	    <td><%= opportunity.user.nickname %></td>
	  </tr>
	<% end %>
</table>

<table>
  <caption>Recently Lost or Dead</caption>
	<% @recent_lost_or_dead.each do |opportunity| %>
	  <tr>
	    <td><%= opportunity.customer.name%> - <%= opportunity.name %></td>
	    <td><%= opportunity.order_value %></td>
	  </tr>
	<% end %>
</table>


</div> 
<div class="g320" style="background:#eee; padding:1em; border:1px solid #ddd"><table>
  <caption>New to the Forecast</caption>
	<% @recent_forecast.each do |opportunity| %>
	  <tr>
	    <td><%= opportunity.customer.name%> - <%= opportunity.name %></td>
	    <td><%= opportunity.order_value %></td>
	    <td><%= opportunity.user.nickname %></td>
	  </tr>
	<% end %>
</table></div>
		