<div class="g640">
<div id="chart" style="width:600px;height:300px;margin-right:auto;margin-left:auto;"></div> 
<script id="source" language="javascript" type="text/javascript"> 
$(function () {
	
	var d = <%= home_chart(@current_account).to_json %>;

	
	
    $.plot($("#chart"), [

        {
        	color: "#f5e17f",
        	label: "Targets",
            data: d[0],
            lines: { show: true, steps: true, lineWidth: 0, fill: .5 },
        },
        {
    	    color: "#9479EB",
	        label: "Bookings",
            data: d[1],
            bars: { show: true, barWidth: 1000*60*60*24*22, lineWidth: 0, fill: 1 }
        },
        {
    	    color: "#C5BAEB",	
	        label: "Forecast",
            data: d[2],
            bars: { show: true, barWidth: 1000*60*60*24*22, lineWidth: 0, fill: 1 }
        }
    ],
 { xaxis: 
	{mode: "time",
	 min: d[3],
	 max: d[4],
	 ticks: 5 }});
});
</script>

<table>
  <caption>Recent Wins</caption>
	<% @recent_wins.each do |opportunity| %>
	  <tr>
	    <td><%= opportunity.customer.name%> - <%= opportunity.name %></td>
	    <td><%= opportunity.order_value %></td>
	    <td><%= opportunity.user.nickname %></td>
	  </tr>
	<% end %>
</table>

<table>
  <caption>Recently Lost or Dead</caption>
	<% @recent_lost_or_dead.each do |opportunity| %>
	  <tr>
	    <td><%= opportunity.customer.name%> - <%= opportunity.name %></td>
	    <td><%= opportunity.order_value %></td>
	  </tr>
	<% end %>
</table>


</div> 
<div class="g320" style="background:grey"><table>
  <caption>New to the Forecast</caption>
	<% @recent_forecast.each do |opportunity| %>
	  <tr>
	    <td><%= opportunity.customer.name%> - <%= opportunity.name %></td>
	    <td><%= opportunity.order_value %></td>
	    <td><%= opportunity.user.nickname %></td>
	  </tr>
	<% end %>
</table></div>