<%= form_for @opportunity do |f| %>

  <h5><%= legend %></h5>

  <% if @opportunity.errors.any? %>
    <ul>
  	  <% @opportunity.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
    </ul>
  <% end %>

  <%= fields_for :customer, @opportunity.customer do |c| %>
      <%= c.label :name, "Customer" %>
      <%= c.text_field :name %>
  <% end %>

  <%= f.label :name, 'Opportunity'%>
  <%= f.text_field :name %>

  <%= f.label :order_value %>
  <%= f.text_field :order_value %>

  <%= f.label :order_date %>
  <%= f.text_field :order_date %>

  <p>
	<label>Status</label>
	<% Opportunity::STATUSES.each do |status| %>
      <%= f.radio_button :status, status %>
      <%= f.label :status, status.to_s.humanize, :value => status, :class => "radio" %><br />
    <% end %>
  </p>
  <p>
  <%= f.label :confidence_id %>
  <% @confidences.each do |confidence| %>
    <%= f.radio_button :confidence_id, confidence.id %>
    <%= f.label :confidence_id, confidence.weight.to_s+'% - '+confidence.name, :value => confidence.id, :class => "radio"%><br />
  <% end %>
  </p>

  <%= f.submit %>

<% end %>

<!-- TODO why doesn't the focus move from Customer after a tab key press? -->