  <caption>Opportunities</caption>
<table>
  <thead>
    <tr>
	   <th>Customer</th>
	   <th>Opportunity</th>
	   <th>Status</th>
	   <th>Order value</th>
	   <th>Order date</th>
	   <th>Confidence</th>
	   <th>Salesman</th>
	   <th></th>
   	 </tr>
  </thead>  
  <tbody>
	<% @opportunities.each do |opportunity| %>
	  <tr>
	    <td><%= opportunity.customer.name %></td>
	    <td><%= opportunity.name %></td>
	    <td><%= opportunity.status.humanize %></td>
	    <td><%= opportunity.order_value %></td>
	    <td><%= opportunity.order_date %></td>
	    <td><%= opportunity.confidence.name %></td>
	    <td><%= opportunity.user.nickname %></td>
		<% if can? :update, Opportunity %> 
	      <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
        <% end %>
	  </tr>
	<% end %>
  </tbody>
</table>
<% if can? :create, Opportunity %> 
  <%= link_to 'New Opportunity', new_opportunity_path %>
<% end %>
