<table>
	<caption>Opportunities</caption>
	<thead>
		<tr>
			<th><%= sortable "customers.name", "Customer" %></th>
			<th><%= sortable "name", "Opportunity" %></th>
			<th><%= sortable "status", "Status" %></th>
			<th><%= sortable "order_value_cents", "Order Value" %></th>
			<th><%= sortable "updated_at", "Last Update" %></th>
			<th><%= sortable "users.nickname", "Owner" %></th>
			<% if can? :update, Opportunity %> 
              <th> </th>
			<% end %>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		<% @opportunities.each do |opportunity| %>
		
		<tr>
			<td><%= link_to truncate(opportunity.customer.name, :length => 15, :separator => ' '), opportunity.customer %></td>
			<td><%= link_to truncate(opportunity.name, :length => 30, :separator => ' '), opportunity %></td>
			<td><%= opportunity.status.humanize %></td>
			<td style="text-align:right"><%= opportunity.order_value.format %></td>
			<td style="text-align:center"><%= opportunity.updated_at.to_date %></td>
			<td><%= opportunity.user.nickname %></td>
			<% if can? :update, Opportunity %> 
			  <td><%= link_to "edit", edit_opportunity_path(opportunity) %> - <%= link_to 'delete', opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<%= paginate @opportunities %>

<%= form_tag opportunities_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :name, params[:name] %>
    <%= text_field_tag :min_order_value, params[:min_order_value] %>   
    <%= text_field_tag :max_order_value, params[:max_order_value] %>   
    <%= submit_tag "Search", :name => nil %>


  </p>
<% end %>