<table>
	<caption>Opportunities</caption>
	<thead>
		<tr>
			<th><%= sortable "opportunity.customer.name", "Customer" %></th>
			<th><%= sortable "name", "Opportunity" %></th>
			<th>Status</th>
			<th>Order Value</th>
			<th>Last Update</th>
			<th>Owner</th>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		<% @opportunities.each do |opportunity| %>
		
		<tr>
			<td><%= opportunity.customer.name %></td>
			<td><%= opportunity.name %></td>
			<td><%= opportunity.status %></td>
			<td><%= number_to_currency(opportunity.order_value) %></td>
			<td><%= opportunity.updated_at.to_date %></td>
			<td><%= opportunity.user.nickname %></td>
		</tr>
		<% end %>
	</tbody>
</table>