<table>
	<caption>Opportunities</caption>
	<thead>
		<tr>
			<th><%= sortable "customers.name", "Customer" %></th>
			<th><%= sortable "opportunities.name", "Opportunity" %></th>
			<th><%= sortable "opportunities.status", "Status" %></th>
			<th><%= sortable "opportunities.order_value_cents", "Order Value" %></th>
			<th><%= sortable "opportunities.updated_at", "Last Update" %></th>
			<th><%= sortable "users.nickname", "Owner" %></th>
			<% if can? :update, Opportunity %> 
              <th> </th>
			<% end %>
		</tr>
	</thead>
	<tfoot></tfoot>
	<tbody>
		<% @opportunities.each do |opportunity| %>
		
		<tr>
			<td><%= link_to truncate(opportunity.customer.name, :length => 15, :separator => ' '), opportunity.customer %></td>
			<td><%= link_to truncate(opportunity.name, :length => 30, :separator => ' '), opportunity %></td>
			<td><%= opportunity.status.humanize %></td>
			<td style="text-align:right"><%= opportunity.order_value.format %></td>
			<td style="text-align:center"><%= opportunity.updated_at.to_date %></td>
			<td><%= opportunity.user.nickname %></td>
			<% if can? :update, Opportunity %> 
			  <td><%= link_to "edit", edit_opportunity_path(opportunity) %> - <%= link_to 'delete', opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<%= paginate @opportunities %>

<%= form_tag opportunities_path, :method => 'get' do %>
  <div class='row'><%= label_tag "Customer" %><%= text_field_tag :customer, params[:customer] %></div>
  <div class='row'><%= label_tag "Opportunity" %><%= text_field_tag :name, params[:name] %></div>
  <div class='row'><%= label_tag "Order Value Range" %><%= text_field_tag :min_order_value, params[:min_order_value], :class => 'format_currency' %><%= text_field_tag :max_order_value, params[:max_order_value], :class => 'format_currency' %></div>
  <div class='row'><%= label_tag "Order Date Range" %><%= text_field_tag :min_order_date, params[:min_order_date], :id => 'from' %><%= text_field_tag :max_order_date, params[:max_order_date], :id => 'to' %></div>
  <div class='row'>
	<%= label_tag 'Status' %>
	<div class='check'>
      <% (Opportunity::STATUSES - ["lead"]).each do |status| %>
          <%= check_box_tag 'status[]', status, checked = params[:status] && params[:status].include?(status), :id => status %>
          <%= label_tag status %><br />
      <% end %>
    </div>
  </div>
  <div class='row'>
	<%= label_tag 'Owner' %>
	<div class='check'>
      <% @salesmen.each do |user| %>
          <%= check_box_tag 'owner[]', user.id, checked = params[:owner] && params[:owner].include?(user.id.to_param), :id => user.nickname  %>
          <%= label_tag user.nickname %><br />
      <% end %>
    </div>
  </div>

  <div class='row'><%= submit_tag "Search", :name => nil %></div>
<% end %>