
<p>
  <b>User:</b>
  <%= @opportunity.user.nickname %>
</p>

<p>
  <b>Status:</b>
  <%= @opportunity.status %>
</p>

<p>
  <b>Customer:</b>
  <%= @opportunity.customer.name %>
</p>

<p>
  <b>Confidence:</b>
  <%= @opportunity.confidence.name %>
</p>

<p>
  <b>Name:</b>
  <%= @opportunity.name %>
</p>

<p>
  <b>Order value:</b>
  <%= @opportunity.order_value %>
</p>

<p>
  <b>Order date:</b>
  <%= @opportunity.order_date %>
</p>

<ol>
  <% @opportunity.line_items.each do |line_item| %>
    <li><%= line_item.product.name %><%= line_item.value %></li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
