<%= form_for(@product) do |f| %>

  <div class='row'><%= f.label :name %><%= f.text_field :name %></div>
  <div class='row'><%= f.label :description %><%= f.text_field :description %></div>

  <div class='row'><%= f.submit %></div>

<% end %>